body {
  width: 75%;
  margin: auto;
  padding: 10px;

}

.ui.large.form {
  height: 265px;
  background-color: #CCFFFF;
}

ui.statistic {
  background-color: gainsboro;
}

.vote-box {
  background-color: lightgrey;
}

